@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] {
    display: none !important;
}

/* Hide Google Translate Banner */
.goog-te-banner-frame.skiptranslate, 
.goog-te-gadget-icon,
.goog-te-gadget-simple img,
.goog-te-menu-value span {
    display: none !important;
}

body {
    top: 0 !important;
}

#google_translate_element {
    display: none !important;
}

.goog-tooltip {
    display: none !important;
}

.goog-tooltip:hover {
    display: none !important;
}

.goog-text-highlight {
    background-color: transparent !important;
    border: none !important;
    box-shadow: none !important;
}
